/* externo */
p{
    color:#e20606;
    font-size: 20pt;
}
body{
    background:linear-gradient(90deg, #2ca0ff,#a89d02);
    background-attachment: fixed;
    text-align: center;
}

/*estilo de classe criada com .*/

.caixa{
    margin:auto;
    border: 5px dashed #0cad27;
    width:80%;
    background-color: #1d0b0b;
    text-align: center;  
    padding: 20px;
    border-radius: 25px;
}

.sombra{
    box-shadow: 10px 10px 1px #e206d0;
}

/* estilo individual*/

#principal{
    background-color: #1d0b0b;
    color:#ffffff;
    font-size: 30pt;
}